body{
   background-color: black;
}
.main1{
    
    position: relative;
    padding:  none;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    background-color: white;
}
.miamiphoto{ widows: 100px;

}
